{#
/**
 * @file aegir_operation.html.twig
 * Default theme implementation to present Ægir Operation data.
 *
 * This template is used when viewing Ægir Operation pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_aegir_operation()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('aegir_operation') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
