{#
/**
 * @file aegir_task.html.twig
 * Default theme implementation to present Ægir Task data.
 *
 * This template is used when viewing Ægir Task pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_aegir_task()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('aegir_task') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
