{#
/**
 * @file aegir_site.html.twig
 * Default theme implementation to present Ægir Site data.
 *
 * This template is used when viewing Ægir Site pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_aegir_site()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('aegir_site') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
