/* Operation rows */
.operation-status-icon {
  font-size: 1.5em;
  position: relative;
  float: left;
}
.operation-type-label {
  margin-left: 2em;
}
.operation-button {
  float: right;
  margin-right: 1em;
}

/* Custom throbber */
/* See: https://codepen.io/wstone/pen/QNmzLQ */
.three-cogs {
  font-size: 0.5em;
  top: 2.1em;
  margin-left: -0.8em;
  margin-right: -0.4em;
}
.three-cogs > .fa:nth-child(1) {
  animation-duration: 4s;
}
.three-cogs > .fa:nth-child(2),
.three-cogs > .fa:nth-child(3) {
  position: absolute;
  animation-direction: reverse;
}
.three-cogs > .fa:nth-child(2) {
  animation-duration: 2s;
  font-size: 0.85em;
  left: 1.3em;
  top: 0.4em;
}
.three-cogs > .fa:nth-child(3) {
  font-size: 1.1em;
  animation-duration: 2.5s;
  left: 0.85em;
  top: 1em;
}
