<VirtualHost *:80>
  ServerName {{ field_drupal_vhost_url }}
{% for vhost_url_alias in field_drupal_vhost_url_aliases %}
  ServerAlias {{ vhost_url_alias }}
{% endfor %}
  DocumentRoot {{ field_platform_path }}

  <Directory "{{ field_platform_path }}">
    AllowOverride All
    Options -Indexes +FollowSymLinks
    Require all granted
  </Directory>
</VirtualHost>

