<div id="auth_box" class="login">

  <div id="top_part">
    <h1 id="the_logo">
      <a href="{{ url('<front>') }}">
        <div class="logo"></div>
      </a>
    </h1>
  </div>

  <div id="middle_part">
    <h2 class="title">{{ title }}</h2>
    {{ messages }}
    {{ page.content }}
    <div class="links">
      <div class="password_link">
        <a href="{{ path('user.pass') }}">{{ 'Forgot your password?'|t }}</a>
      </div>
      <div class="register_link">
        <a href="{{ path('user.register') }}">{{ 'Register'|t }}</a>
      </div>
    </div>
  </div>

</div>
