---

- hosts: localhost
  connection: local

{% raw %}
  pre_tasks:
    - name: Display all variables for the playbook (passed from the front-end).
      debug:
        var: "{{ item }}"
      with_items: "{{ aegir_vars }}"
{% endraw %}

  roles:
{% for role in roles %}
    - {{ role }}
{% endfor %}
